@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --font-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --font-titulos: 'Prosto One', cursive;
    --font-textos: 'Fira Code', monospace;

    --cor01: #054BA6;
    --cor02: #035AA6;
    --cor03: #0D4373;
    --cor04: #191f25;
    --cor05: #404040;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: var(--cor03);
    min-height: 100vh;
}

header {
    background-color: var(--cor04);
}

header h1 {
    font-family: var(--font-titulos);
    text-align: center;
    color: var(--cor01);
    padding-top: 50px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.404);
}

nav {
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;

}

nav a {
    color: var(--cor01);
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bolder;
    padding: 10px;
}

nav a:hover {
    background-color: var(--cor01);
    color: white;
    border-radius: 15px;
    transition: .5s;
    text-decoration: underline;
}

main {
    background-color: white;
}


footer {
    background-color: var(--cor04);
    padding: 20px;
    text-align: center;
    color: var(--cor01);
    font-size: 1.1em;
}

footer a {
    color: var(--cor01);
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}


