@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --font-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --font-titulos: 'Prosto One', cursive;
    --font-textos: 'Fira Code', monospace;

    --cor01: #054BA6;
    --cor02: #035AA6;
    --cor03: #0D4373;
    --cor04: #191f25;
    --cor05: #404040;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: var(--cor03);
    min-height: 100vh;
}

header {
    background-color: var(--cor04);
}

header h1 {
    font-family: var(--font-titulos);
    text-align: center;
    color: var(--cor01);
    padding-top: 50px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.404);
}

nav {
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;

}

nav a {
    color: var(--cor01);
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bolder;
    padding: 10px;
}

nav a:hover {
    background-color: var(--cor01);
    color: white;
    border-radius: 15px;
    transition: .5s;
    text-decoration: underline;
}

#principal {
    min-width: 30vw;
    margin: auto;
    background-color: white;
    box-shadow: 6px 6px 13px 0px rgba(255, 255, 255, 0.253);
}



section > h1 {
    font-size: 2em;
    font-family: var(--font-titulos);
    padding: 15px;
    color: var(--cor02);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.397);
}

section > h2 {
    font-size: 2em;
    font-family: var(--font-titulos);
    color: var(--cor03);
    padding: 15px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.363);
}

section > p {
    background-color: rgba(0, 0, 0, 0.432);
    line-height: 2em;
    text-align: justify;
    text-indent: 30px;
    font-family: var(--font-textos);
    padding: 15px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
    display: inline-block;
}

section#img01 {
    background-image: url("../img/carro-img-m.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section#img02 {
    background-image: url("../img/suspensao-m.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section#img03 {
    background-image: url("../img/cambio-m.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

aside > p {
    line-height: 2em;
    text-align: justify;
    text-indent: 30px;
    font-family: var(--font-textos);
    padding: 15px;
}

aside h2 {
    font-size: 2em;
    font-family: var(--font-titulos);
    padding: 15px;
    color: var(--cor03);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.363);
}

footer {
    background-color: var(--cor04);
    padding: 20px;
    text-align: center;
    color: var(--cor01);
    font-size: 1.1em;
}

footer a {
    color: var(--cor01);
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}


