@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --font-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --font-titulos: 'Prosto One', cursive;
    --font-textos: 'Fira Code', monospace;

    --cor01: #054BA6;
    --cor02: #035AA6;
    --cor03: #0D4373;
    --cor04: #191f25;
    --cor05: #404040;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: var(--cor03);
    min-height: 100vh;
}

header {
    background-color: var(--cor04);
}

header h1 {
    font-family: var(--font-titulos);
    text-align: center;
    color: var(--cor01);
    padding-top: 50px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.404);
}

nav {
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;

}

nav a {
    color: var(--cor01);
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bolder;
    padding: 10px;
}

nav a:hover {
    background-color: var(--cor01);
    color: white;
    border-radius: 15px;
    transition: .5s;
    text-decoration: underline;
}

#principal {
    width: 50vw;
    margin: auto;
    box-shadow: 6px 6px 13px 0px rgba(255, 255, 255, 0.253);
    background-color: white;
}

section.normal, section.imagem, aside {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    line-height: 2.5em;
    font-size: 2vw;
}

section p {
    padding-bottom: 2em;
    font-family: var(--font-textos);
}

section h1 , h2 {
    font-family: var(--font-titulos);
    color: var(--cor01);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.582);
    font-size: 3vw;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.507);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.356);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.459);
}

section#img01 {
    background-image: url("../img/carro-img-m.jpg");
    background-repeat: no-repeat;
    background-position: left top;
}

section#img02 {
    background-image: url("../img/suspensao-m.png");
    background-repeat: no-repeat;
    background-position: left top;
}

section#img03 {
    background-image: url("../img/cambio-m.png");
    background-repeat: no-repeat;
    background-position: left top;
}

footer {
    background-color: var(--cor04);
    padding: 20px;
    text-align: center;
    color: var(--cor01);
    font-size: 1.1em;
}

footer a {
    color: var(--cor01);
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}


